*.m3u
*.m3u8
erros_download.txt
__pycache__/
*.log

# Arquivos de log e dados grandes
Projeto Sigma/Atualizações.txt
Projeto Sigma/erros_mineracao.txt
Projeto Sigma/Listas-Downloaded
Projeto Sigma/TXTs/Atualizacoes
/Projeto Sigma/Resultados-Busca
Projeto Sigma/Resultados-Busca/Busca_categoria_turc.txt
